<div class="top-spacing"></div>
<!-- MAIN SECTION STARTS -->
<div class="row left-spacing1" >
    <div class="stn-live-video" id="above-full">
        <!-- LEFT SECTION STARTS -->
        <div [ngClass]="{'col-xs-12 col-sm-8 col-md-8 col-lg-8 zero-padding' : isUser, 'col-xs-12 col-sm-12 col-md-12 col-lg-12 zero-padding width100 left-right-padding' : !isUser}"  id="full-view">
            <div class="card">
                <!--TAB NAVIGATION STARTS-->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" (click)="homeFn()" class="hidden-mob">{{'home_text' | translate}}</a>
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" (click)="homeFn()" class="hidden-web"><i class="fa fa-home"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#public" aria-controls="messages" role="tab" data-toggle="tab" (click)="publicFn()" class="hidden-mob">Public</a>
                        <a href="#public" aria-controls="messages" role="tab" data-toggle="tab" (click)="publicFn()" class="hidden-web"><i class="fa fa-user"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#private" aria-controls="settings" role="tab" data-toggle="tab" (click)="privateFn()" class="hidden-mob">Private</a>
                        <a href="#private" aria-controls="settings" role="tab" data-toggle="tab" (click)="privateFn()" class="hidden-web"><i class="fa fa-lock"></i></a>
                    </li>
                </ul>
                <!--TAB NAVIGATION ENDS-->

                <!--TAB CONTENT STARTS-->
                <div class="tab-content">
                    <!-- HOME SECTION STARTS -->
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- CARD1 STARTS -->
                        <div class="Spacer-10"></div>
                        <!-- CARD4 STARTS -->
                        <div class="live-video-box" *ngFor="let data of home_videos">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="inner-video">
                                    <div class="profile-bg-image embed-responsive-item"  [style.background-image]="data.snapshot ? 'url(' + data.snapshot + ')' : null"></div>                                    
                                </div>
                                <a routerLink="/join-video" [queryParams]="{video_id : data.video_id}">
                                    <div class="playbtn">
                                        <div class="white-btn-play"><img src="../../../assets/img/play-btn.png"></div>
                                        <div class="pink-btn-play"><img src="../../../assets/img/play-btn-pink.png"></div>
                                    </div>
                                </a> 
                            </div>
                            <div class="content-stm-video" *ngIf="data.amount > 0">
                                <div class="ribbon"><h4 class="head">{{data.currency}}{{data.amount}}</h4></div>
                            </div>
                            <div class="content-stm-video">
                                <div class="video-right-btn text-right video-content">
                                    <div class="watched-user text-grey-clr"><i class="fa fa-eye mr-5"></i>{{data.viewers}} <span class="hidden-xxx">Views</span></div> 
                                    <!-- <button class="btn btn-default btn-block btn-br" type="button">Music</button>
                                    <button class="btn btn-default btn-block btn-br" type="button">Music</button> -->
                                </div>
                                <div class="video-content">
                                    <h1 class="h4-s mt-0 text-bold top overflow">{{data.title}}</h1>
                                    <!-- <div class="row video-watch-time"> 
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 watched-user">Watching - {{data.viewers}}</div> 
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 strated-time">Started - {{data.date}}</div>
                                    </div> -->
                                    <div class="user-details"> 
                                        <a routerLink="/view-profile" [queryParams]="{peer_id : data.id}">
                                            <span class="user-img-sm">
                                                <img class="img-circle img-responsive user-details-img" src="{{data.user_picture}}">
                                            </span> 
                                            <span class="user-name-info">{{data.name}}</span>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- section loader -->
                        <div class="loader" *ngIf="showLoader">
                            <div class="spin"></div>
                            <div class="bounce"></div>
                        </div>
                        <!-- section loader -->
                        <!-- CARD4 ENDS -->
                        <div class="text-center" *ngIf="skipCount > 0 && datasAvailable > 0">
                            <button class="show-more-btn" (click)="showMoreVideos()">Show More</button>
                        </div>

                        <div class="no_result_class text-center" *ngIf="skipCount <= 0">
                            <div>
                                <h3 class="tab-head text-center">No Live Videos found</h3>
                                <img class="noresult-img" src="../../../assets/img/no-result.gif">
                            </div>
                        </div>
                        
                    </div>
                    <!-- HOME SECTION ENDS -->
                    <!-- PUBLIC SECTION STARTS -->
                    <div role="tabpanel" class="tab-pane" id="public">
                        <div class="row">
                            <!-- PUBLIC VIDEOS LIST STARTS -->
                            <div class="Spacer-10"></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let data of public_videos">
                                <div class="live-video-box">
                                    <div class="public-img" [style.background-image]="data.snapshot ? 'url(' + data.snapshot + ')' : null">
                                        <a routerLink="/join-video" [queryParams]="{video_id : data.video_id}">
                                            <div class="playbtn1">
                                                <div class="white-btn-play1"><img src="../../../assets/img/play-btn.png"></div>
                                                <div class="pink-btn-play1"><img src="../../../assets/img/play-btn-pink.png"></div>
                                            </div>
                                        </a>
                                        <div class="video-amount" *ngIf="data.amount > 0">
                                            <h5 class="no-margin">{{data.currency}}{{data.amount}}</h5>
                                        </div>
                                        <div class="watch-count">
                                            <h5 class="h5-s user-name m-0"><i class="fa fa-eye icon"></i>{{data.viewers}}</h5>
                                        </div>
                                    </div>
                                    <div class="user-profile spacing">
                                        <h4 class="h4-s user-name text-bold overflow">{{data.title}}</h4>
                                        <a href=""><h5 class="h5-s user-name text-grey-clr overflow"> {{data.name}}</h5></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                         <!-- section loader -->
                         <div class="loader" *ngIf="showPublicLoader">
                            <div class="spin"></div>
                            <div class="bounce"></div>
                        </div>
                        <!-- section loader -->
                        <!-- CARD4 ENDS -->
                        <div class="text-center" *ngIf="skipPublicCount > 0 && publicDatasAvailable > 0">
                            <button class="show-more-btn" (click)="showPublicMoreVideos()">Show More</button>
                        </div>

                        <div class="no_result_class text-center" *ngIf="skipPublicCount <= 0">
                            <div>
                                <h3 class="tab-head text-center">No public videos found</h3>
                                <img class="noresult-img" src="../../../assets/img/no-result.gif">
                            </div>
                        </div>
                    </div>
                    <!-- PUBLIC SECTION ENDS -->
                    <!-- PRIVATE SECTION STARTS -->
                    <div role="tabpanel" class="tab-pane" id="private">
                        <div class="Spacer-10"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let data of private_videos">
                                <div class="live-video-box">
                                    <div class="public-img" [style.background-image]="data.snapshot ? 'url(' + data.snapshot + ')' : null">
                                        <a routerLink="/join-video" [queryParams]="{video_id : data.video_id}">
                                            <div class="playbtn1">
                                                <div class="white-btn-play1"><img src="../../../assets/img/play-btn.png"></div>
                                                <div class="pink-btn-play1"><img src="../../../assets/img/play-btn-pink.png"></div>
                                            </div>
                                        </a>
                                        <div class="video-amount" *ngIf="data.amount > 0">
                                            <h5 class="no-margin">{{data.currency}}{{data.amount}}</h5>
                                        </div>
                                        <div class="watch-count">
                                            <h5 class="h5-s user-name m-0"><i class="fa fa-eye icon"></i>{{data.viewers}}</h5>
                                        </div>
                                    </div>
                                    <div class="user-profile spacing">
                                        <h4 class="h4-s user-name text-bold overflow">{{data.title}}</h4>
                                        <a href=""><h5 class="h5-s user-name overflow text-grey-clr">{{data.name}}</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- section loader -->
                        <div class="loader" *ngIf="showPrivateLoader">
                            <div class="spin"></div>
                            <div class="bounce"></div>
                        </div>
                        <!-- section loader -->
                        <!-- CARD4 ENDS -->
                        <div class="text-center" *ngIf="skipPrivateCount > 0 && privateDatasAvailable > 0">
                            <button class="show-more-btn" (click)="showPrivateMoreVideos()">Show More</button>
                        </div>

                        <div class="no_result_class text-center" *ngIf="skipPrivateCount <= 0">
                            <div>
                                <h3 class="tab-head text-center">No private videos found</h3>
                                <img class="noresult-img" src="../../../assets/img/no-result.gif">
                            </div>
                        </div>
                    </div>
                    <!-- PRIVATE SECTION ENDS -->
                </div>
            </div> 
        </div>
        <!-- LEFT SECTION ENDS -->
        <!-- RIGHT SECTION STARTS -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 zero-padding hidden-xs" id="side-view" *ngIf="isUser">
            <!--USER PROFILE STARTS -->
            <div class="user-profile text-center">
                <a routerLink="/profile">
                    <div class="profile-user-img"> 
                        <!-- <img class="img-circle img-responsive" src="../../../assets/img/pro-img.jpg" width="150" height="150"> -->
                        <div class="profile-image" [style.background-image]="user_details.picture ? 'url(' + user_details.picture + ')' : '../../../assets/img/pro-img.jpg'">
                            <!-- <img src="../../../assets/img/video-icon.png" class="streamer-icon"> -->
                        </div> 
                    </div>
                </a>
                <h4 class="h4-s user-name text-bold">{{user_details.name}}</h4>
                <span class="user-dt">
                    <div class="stnw-divStats">
                        <ul class="stnw-Arrange">
                            <li class="stnw-ArrangeSizeFit"> 
                                <a routerLink="/streamed-videos" title="{{user_details.total_videos}} Streams"> 
                                    <span class="stnw-StatValue">{{user_details.total_videos}}</span> 
                                    <span class="stnw-StatLabel stnw-block">Streams</span> 
                                </a> 
                            </li>
                            <li class="stnw-ArrangeSizeFit"> 
                                <a routerLink="/followings" title="{{user_details.no_of_followings}} Following"> 
                                    <span class="stnw-StatValue">{{user_details.no_of_followings}}</span> 
                                    <span class="stnw-StatLabel stnw-block">Following</span> 
                                </a>
                            </li>
                            <li class="stnw-ArrangeSizeFit"> 
                                <a routerLink="/followers" title="{{user_details.no_of_followers}} Followers"> 
                                    <span class="stnw-StatValue">{{user_details.no_of_followers}}</span>
                                    <span class="stnw-StatLabel stnw-block">Followers</span> 
                                </a>
                            </li>
                        </ul>
                    </div>
                </span>
                <a routerLink="/broadcast" *ngIf="user_details.is_content_creator && user_details.user_type">
                    <button class="btn btn-block btn-lg" type="button">Go Live</button>
                </a>
                <hr>
                <!-- FOLLOWING USER LIST STARTS -->
                <div class="follow-users-list"  *ngIf="suggestions.length > 0">
                    <h5 class="h5-s following-user text-uppercase">Suggestions</h5>
                    <div *ngFor="let suggestion of suggestions;let i = index">
                        <div class="user-details watch-user">
                            <div class="sugg-imgsec">
                                <a routerLink="/view-profile" [queryParams]="{peer_id : suggestion.follower_id}">
                                    <img src="{{suggestion.picture}}">
                                </a>
                            </div>
                            <div class="sugg-namesec">
                                    {{suggestion.name}}
                            </div>
                            <div class="sugg-btnsec">
                                <span class="watch-btn-user">
                                    <button class="btn btn-default btn-block btn-br" type="button" (click)="followUser(suggestion.follower_id)">Follow</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--<p class="view-more-sec show" data-toggle="collapse" data-target="#demo">view more<i class="fa fa-angle-down"></i></p>
                    <div id="demo" class="collapse">
                        <div *ngFor="let suggestion of suggestions;let i = index">
                            <div class="user-details watch-user">
                                <div class="sugg-imgsec">
                                    <a routerLink="/view-profile" [queryParams]="{peer_id : suggestion.follower_id}">
                                        <img src="{{suggestion.picture}}">
                                    </a>
                                </div>
                                <div class="sugg-namesec">
                                        {{suggestion.name}}
                                </div>
                                <div class="sugg-btnsec">
                                    <span class="watch-btn-user">
                                        <button class="btn btn-default btn-block btn-br" type="button" (click)="followUser(suggestion.follower_id)">Follow</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="view-more-sec" data-toggle="collapse" data-target="#demo">hide<i class="fa fa-angle-up"></i></p>
                    </div> -->
                </div>
            </div>
            <!--USER PROFILE ENDS-->
        </div>
        <!-- RIGHT SECTION ENDS -->
    </div>
    
    <div class="clearfix"></div>
   
</div>
<!-- MAIN SECTION ENDS -->