<div class="main body-img" style="background-image: url(../../../assets/img/bg-video-default.jpg);">
    <div class="overlay align-middle section-spacing pt-70">
        <div class="signup-form">
            <div class="right-align">
                <a routerLink="/login" [queryParams]="{uType : uType}" class="forgot">{{'sign_in' | translate}}<i class="fa fa-chevron-right signin-arrow"></i></a>
            </div>
            <div class="clear-both"></div>
            <h2 class="signup-head center-align top">{{'forgot_password' | translate}}</h2>
            <!-- FORM STARTS -->
            <form class="auth-form" #forgotPassword="ngForm" (ngSubmit)="sendResetPassword(email.value)">
                <!-- <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-2" type="email" #email name="email" ngModel/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-2" data-content="Email">
                        <span class="input__label-content input__label-content--hoshi">Email</span>
                    </label>
                </span> -->
                <div class="md-form form-lg">
                    <input type="email" id="email" class="form-control form-control-lg" #email name="email" ngModel>
                    <label for="email">{{'email' | translate}}</label>
                </div>
                <div class="Spacer-5"></div>
                <div class="center-align">
                    <button class="btn width-200" type="submit">{{'submit' | translate}}</button>
                </div>
            </form>
            <!-- FORM ENDS -->
        </div>
    </div>
</div>