@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
	font-family:Lato-Regular;
	src:url(../fonts/lato/Lato-Regular.ttf);
}

body,html{
	width: 100%;
	height:100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden !important;
    font-family:Lato-Regular !important;
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, p::first-letter, 
span::first-letter, button::first-letter, a::first-letter, label::first-letter, input::first-letter, td::first-letter, th::first-letter,
.sugg-namesec::first-letter{
	text-transform: capitalize;
}
.wrapper{
	min-height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
    position: relative;
}

/*============================================================

============================================================*/
.h1-s, .h2-s, .h3-s, .h4-s, .h5-s, .h6-s {
	font-weight: normal;
	color: #252525;
	letter-spacing: 1px;
}
.h1-s {
	font-size: 36px;
}
.h2-s {
	font-size: 30px;
}
.h3-s {
	font-size: 24px;
}
.h4-s {
	font-size: 18px;
}
.h5-s {
	font-size: 14px;
}
.h6-s {
	font-size: 12px;

}

.Spacer-1 {
	height: 4px
}
.Spacer-2 {
	height: 8px
}
.Spacer-3 {
	height: 12px
}
.Spacer-4 {
	height: 16px
}
.Spacer-5 {
	height: 20px
}
.Spacer-6 {
	height: 24px
}
.Spacer-7 {
	height: 28px
}
.Spacer-8 {
	height: 32px
}
.Spacer-9 {
	height: 36px
}
.Spacer-10 {
	height: 40px
}
.Spacer-11 {
	height: 44px
}
.Spacer-12 {
	height: 48px
}
.Spacer-13 {
	height: 52px
}
.Spacer-14 {
	height: 56px
}
.Spacer-15 {
	height: 60px
}
.Spacer-16 {
	height: 64px
}
.Spacer-17 {
	height: 68px
}
.Spacer-18 {
	height: 72px
}
.Spacer-19 {
	height: 76px
}
.Spacer-20 {
	height: 80px
}
.Spacer-21 {
	height: 84px
}
.Spacer-22 {
	height: 88px
}
.Spacer-23 {
	height: 92px
}
.Spacer-24 {
	height: 96px
}
.Spacer-25{
	height: 180px;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.primary-color {
	color: #506ac5 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.white-bg {
	background: #fff !important;
}
.bg-grey{
	background: #F5F4FB;
}
p {
	color: #6f6f6f;
	line-height: 22px;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #141414;
	font-weight: normal;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
hr {
	border-width: 1px;
	border-color: rgba(0,0,0,0.1);
	margin: 10px 0;
}
a:hover, a:focus {
	color: #00b1f1;
}
.clear-both{
	clear: both;
}
.box-shadow{
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.line-height-22 {
	line-height: 22px !important;
}
.line-height-26 {
	line-height: 26px !important;
}
.dark-text p {
	color: #141414;
}
.light-gray-bg {
	background: #f6f7f8 !important;
}
.right-margin{
	margin-right: 0;
}
/*=======================================================

      BTN STYLE

========================================================*/
textarea{
	resize: none !important;
}
.btn {
	border:1px solid #ff3d63;
	color: #fff;
	display: inline-block;
	padding: 0px 21px;
	font-weight: normal;
	font-size: 16px;
	border-radius: 30px;
	line-height: 40px;
	background: #ff3d63;
	position: relative;
	z-index: 1;
	transition: .2s all linear;
	box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
}
.btn2{
	border:1px solid #ff3d63;
	background: #ff3d63;
	color: white !important;
	display: inline-block;
	padding: 5px 21px;
	font-weight: normal;
	font-size: 16px;
	border-radius: 30px;
	position: relative;
	z-index: 1;
	line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
	cursor: pointer;
	transition: .2s all linear;
	box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
}
.show-more-btn{
	border:1px solid #ff3d63;
	background: transparent;
	color: #ff3d63;
	display: inline-block;
	padding: 5px 21px;
	font-weight: normal;
	font-size: 16px;
	border-radius: 30px;
	position: relative;
	z-index: 1;
	line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
	cursor: pointer;
	width: 200px;
	transition: .2s all linear;
	text-transform: capitalize;
	margin-bottom: 20px;
	/* box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3); */
}
.show-more-btn:hover, .show-more-btn:active, .show-more-btn:focus{
	background: #ff3d63;
	color:#fff;
	box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
	outline: none;
}
.btn1{
	line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
	cursor: pointer;
	transition: .2s all linear;
	/* box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3); */
}
button:active{
	outline: none !important;
}
.btn2:hover, .btn2:active, .btn2:focus, .btn3:hover, .btn3:active, .btn3:focus {
	background:#fa0e3c !important;
	color: #fff;
	border: 1px solid #fa0e3c;
	outline: none !important;
}
.btn-br {
    background: transparent;
    border: 1px solid #999999;
	color: #666666;
	line-height: inherit;
	padding: 5px 10px;
	box-shadow: none !important;
	width: auto !important;
	font-size: 12px;
	margin-bottom:8px;
}
.btn-br:hover,.btn-br:active, .btn-br:focus{
	background: #ff3d63 !important;
	color: #fff !important;
	border: 1px solid #ff3d63 !important;
	outline: none !important;
}
.btn:hover, .btn:active, .btn:focus {
	background:#fa0e3c !important;
	color: #fff;
	border:1px solid #fa0e3c;
	outline: none !important;
}
.btn1:hover, .btn1:active, .btn1:focus {
	background:#fa0e3c !important;
	color: #fff;
	border:1px solid #fa0e3c;
	outline: none !important;
}
.btn-white {
	background: #fff;
	color: #ab4e52 !important;
}
.btn-white:hover, .btn-white:active, .btn-white:focus {
	background: #ab4e52 !important;
	color: #fff !important;
	outline: none !important;
}
.tp-caption .btn {
	display: inline-block;
}
.btn-block + .btn-block {
    margin-top: 0px;
}
.btn-1 {
	border: 1px solid #888888;
	border-left: none;
	border-right: none;
	border-top-color: transparent;
	text-transform: uppercase;
	font-size: 10px;
	display: inline-block;
	padding: 10px;
	letter-spacing: 1px;
	color: #965452;
}
.btn-1 i {
	font-size: 10px;
	margin-left: 20px;
}
.btn-1.btn-2 {
	border-bottom-color: transparent;
	border-top: 1px solid #965452;
}
.btn-1:hover, .btn-1:focus, .btn-1:active {
	color: #fff;
	background: #965452;
	outline: none !important;
}
.parallax-bg {
	background-size: cover !important;
}

.text-shadow {
	text-shadow: 3px 0px 5px rgba(0,0,0,0.5);
}
.text-shadow-1 {
	text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.home-slider {
	position: relative;
}
.btn.button-load {
	background: #33cc99 none repeat scroll 0 0;
	float: right;
}

/*================================================================
header
================================================================*/
.navbar-default {
	background-color: #653BC8;
	border-color:#653BC8;
	border-radius: 0;
	margin-bottom: 0;
	border:0;
}
.navbar-default .navbar-collapse{
	font-family:Lato-Regular !important;
}

.navbar-brand.logo {
	height: auto;
	width: 60px;
	position: relative;
	padding: 15px 10px;
	background-color: #7052CD;
}
.navbar-brand.logo:hover{
	background-color: #7052CD;
}
.logo-img{
	max-width: 100%;
	height: auto;
}
.navbar-form, .nav.navbar-nav.navbar-right {
	padding: 10px 20px;
}
.pt-0{
	padding-top: 0 !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pt-19{
	padding-top: 19px !important;
}
.pr-15{
	padding-right: 15px !important;
}
.menu-icon{
	height: 30px;
	width:auto;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #ff3d63;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #ff3d63;
	color: #ffffff;
}
.navbar-toggle{
	margin-top: 19px !important;
	padding: 5px 10px;
	color: #ff3d63;
}
.form-control.search-sn {
	background-color: transparent;
	/*background-color: #475fb1;*/
	color: #ffffff;
	border-radius: 20px;
	border-color: white;
	box-shadow: none;
	width: 250px;
}
.form-control.search-sn:focus{
	border-color:#ff3d63;
}
.navbar-search {
	display: inline-block;
	border: 0px solid #506ac5;
	box-shadow: 0 0 0 0!important;
}

.navbar-default .navbar-toggle{
	border-color: #ff3d63;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ff3d63;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.user-details-img{
	width: 40px;
	height: 40px;
}
.header-padding{
	padding: 0 25px;
}
.side-menubar{
	background: white;
	width: 60px; 
	height: 100%;
	position:fixed; 
	top: 70px; 
	left: 0; 
	z-index:600; 
	padding-right: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.side-menubar1{
	padding: 10px;
}
.sidemenu-icon{
	font-size: 28px;
	color: #a6acaf;
	padding: 16px 7.5px;
}
.sidemenu-icon:hover{
	color: #ff3d63;
}

.navbar-toggle{
	margin-top: 15px;
}
.sidemenu{
	float: right;
	margin: 20px 0px 0 10px;
	color: white;
}
.header-icon{
	color: white !important;
	padding: 0 20px 0 0;
}
.header-icon:hover{
	color:#ff3d63 !important;
}
.sidenav{
	position: absolute;
	top: 10px;
	left:60px;
	padding:10px 20px;
    background-color:white;
	color:#ff3d63;
	display:none;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: inline-block;
    white-space: nowrap;
}
.sidenav li::first-letter{
	text-transform: capitalize;
}
.sidenav1{
	position: absolute;
	top: 80px;
	left:60px;
	width: 90px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.sidenav2{
	position: absolute;
	top: 140px;
	left:60px;
	width: 180px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.sidenav3{
	position: absolute;
	top: 200px;
	left:60px;
	width: 160px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.side-men{
	position: relative;
}
.side-men a + ul{
	display: none;
}
.side-men a:hover + ul{
	display: block;
	margin-left: -10px;
	transition: all 250ms linear 0s;
	z-index: 0;
}
.active-pink i{
	color: #ff3d63 !important;
}
/*=======================================================

      main wrap

========================================================*/
.main{
	min-height: 100%;
}
.nav-tabs {
	border-bottom: 1px solid #dcdfea;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.nav-tabs > li > a {
	border: none;
	color: #999999;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #111111 ;
	background: transparent;
}
.nav-tabs > li > a{
	font-size: 16px;
}
.nav-tabs > li > a::after {
	content: "";
	background: #ff3d63;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}
.tab-nav > li > a::after {
	background: #ff3d63 none repeat scroll 0% 0%;
	color: #fff;
}
/*.white-text:hover{
	color: white;
}*/
.tab-pane {
	padding: 0;
}
.top-bottom-spacing{
	padding: 40px 0;
}
.zero-padding{
	padding:0;
	opacity: 1;
	transition: all 1000ms ease 0s;
}
.video-stream{
	position: relative;
	height: 100%;
}
.embed-responsive.embed-responsive-16by9 {
    border-radius: 5px 5px 0 0;
}
.user-profile {
    background: #ffffff;
}
.profile-user-img {
    padding: 20px 0 10px;
    text-align: center;
}
.stnw-divStats {
    margin-left: 11px;
    padding: 10px 0;
    margin-right: 11px;
}
.stnw-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.stnw-Arrange {
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0;
}
.stnw-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.stnw-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.stnw-StatValue {
    display: block;
    font-size: 22px;
	color: #506ac5;
    transition: color 0.15s ease-in-out 0s;
	letter-spacing: 0.1em;

}
.stnw-StatLabel {
    color: #444444;
    font-size: 12px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.user-profile .btn {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    width: 55%;
	margin-bottom: 20px;
}
.follow-users-list {
    padding-left: 20px;
    text-align: left;
	padding-bottom: 20px;
	padding-right: 20px;
}
.stn-stream-heading {
    color: #ff3d63;
}
.stn-stream-heading {
    margin-top: 20px;
}
.live-video-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    /*box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);*/
	margin-top:0px;
	border-radius: 5px 5px 0 0;
	margin-bottom: 40px;
	position: relative;
}
.total-revenue-sec{
	position: absolute;
	top:70px;
	bottom: 0;
	left:0;
	right:0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 200;
	opacity: 0;
	transition: .2s all linear;
}
.live-video-box:hover .total-revenue-sec{
	opacity: 1;
}
.total-revenue-amount{
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
    line-height: 1;
}
.content-stm-video {
    position: relative;
}
.video-content {
    display: inline-block;
    width:75%;
	padding: 20px;
}
.video-right-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0px;
    width: 25%;
}
.video-right-btn .btn-br {
    padding: 5px 20px;
    width: auto;
	margin: 10px 10px 0 10px;
}
.video-right-btn .h4-s {
    display: inline-block;
}
.video-watch-time .watched-user {
    /*margin-right: 30px;*/
	color: #ff3d63;
}
.video-watch-time .strated-time {
    color: #999999;
}
.top-margin{
	margin-top: 40px !important;
}
.user-details {
    margin: 10px 0 0 0;
}
.user-name-info {
	/* margin-left: 10px; */
	color: #252525;
}
.watch-btn-user .btn-br {
    float: right;
    padding: 5px 20px;
    width: auto;
}
.watch-btn-user .btn-br {
    float: right;
    margin: 8px 10px;
    padding: 5px 20px;
    width: auto;
	border-color: #ff3d63;
	color: #ff3d63;
}
.stn-stream-grey {
    color: #666666;
}
.recent-btn .btn-br {
    border-color: #653BC8;
    color: #653BC8;
}
.recent-btn .btn-br:hover{
	background: #653BC8 !important;
	color: #ffffff !important;
	border-color: #653BC8 !important;
}
.inner-video{
	height: 450px;
}
.playbtn {
    background: -webkit-linear-gradient(left top, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
    height: 100%;
    margin: 0;
    padding: 23% 46%;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}
.playbtn .pink-btn-play {
    display: none;
}
.playbtn:hover .pink-btn-play{
    display: block;
}
.playbtn:hover .white-btn-play {
    display: none;
}
.user-profile {
}
.video-stn-main {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding-top: 0px;
	width: 100%;
}

/*=========================*/
.following-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 150px;
	height:150px;
	margin: 0 auto;
}
.spacing{
	padding: 10px 20px;
}
.followers-grid{
	border-radius: 5px 5px 0 0;
}
.followers-img{
	height:250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.paid-video-img{
	height:180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.blue-clr{
	color:#506ac5;
}
.btn-follow {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #999999;
	color: #666666;
	line-height: inherit;
	padding: 5px 20px;
	box-shadow: none !important;
	width: auto !important;
	font-size: 14px;
	border-radius: 20px;
}
.btn-follow:hover{
	background: #ff3d63 !important;
	color: #fff !important;
	border-color: #ff3d63 !important;
}
.icon{
	padding-right: 5px;
}
.black-clr{
	color: #333;
}


/*=================================================
footer
=================================================*/
.footer{
	position: absolute;
	bottom: 0;
	left:60px;
	right:0;
	width: calc(100% - 60px);
	padding: 30px 40px;
	background-color: white;
	font-size: 16px;
	z-index:500;
	box-shadow: 3px 0px 11px rgba(0, 0, 0, 0.1);
	line-height: 1.7;
}
.foot{
	margin: 0 10px;
}
.foot1{
	border-right: 1px solid black;
}
.foot2{
	margin: 0 10px;
}
.foot3{
	color:#404d5b;
	line-height: 1.75;
}
.foot3:hover, .foot3:focus, .foot3:active {
	color:#404d5b;
}
/*===================================================
signup
===================================================*/
.zero-width{
	/*width: 0 !important;*/
	/*display: none;*/
	transition: all 1000ms ease 0s;
	/* opacity: 0; */
	display:none;
}
.width100{
	width: 100%;
	transition: all 750ms ease 0s;
}
.body-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:100%;
	min-height:100vh;
}
.align-middle{
	display: flex;
	align-items:center;
}
.overlay{
	/*background: linear-gradient(rgba(80, 106, 197, 0.8), rgba(20, 20, 20, 0.5));*/
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	min-height: 100vh;
}

.center-align{
	text-align: center;
}
.signup-head{
	margin: 0;
}
.signup-line{
	margin: 0;
}
.google-signin{
	padding: 10px 20px;
	background-color: white;
	color: #3b5998;
	width: 207px;
	border:1px solid white;
}
.google-signin:hover, .google-signin:focus, .google-signin:active{
	outline: none !important;
}
.facebook-signin:hover, .facebook-signin:focus, .facebook-signin:active{
	outline: none !important;
}
.facebook-signin{
	padding: 10px 20px;
	background-color:#3b5998;
	color: white ;
	width: 207px;
	border:1px solid #3b5998;
}
.forgot{
	color: white;
	font-size: 18px;
}
.forgot:hover{
	color:#ff3d63 !important;
}
.right-align{
	float: right !important;
}
.signin-arrow{
	padding: 0 7px;
}
.profile-bg-image{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}
.user-profile1{
	width:200px ;
	height:200px;
	border-radius: 100%;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-color: #fff;
}
.cover-profile{
	width:200px ;
	height:150px;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.pro-head{
	margin: 0;
	color: white;
}
.pro-head:hover, .pro-head:active, .pro-head:focus{
	color: white;
}
.left-spacing{
	margin-left: 30px;
}
.left-spacing1{
	margin-left: 60px;
}
.bottom-padding{
	padding-bottom:115px;
}
.overlay1{
	background-color: rgba(101, 59, 200, 0.6);
}
.profile-tab{
	padding: 16px;
	border:0;
}
.light-blue-bg{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .4), rgba(141, 34, 231,.4)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .4), rgba(141, 34, 231,.4)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .4), rgba(141, 34, 231,.4)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .4), rgba(141, 34, 231,.4));  
}
.blue-bg{
	/*background-color:rgba(80, 106, 197, 0.7);*/
	background-color: white;
}
.spacing1{
	padding: 20px;
}
.tab-head{
	margin: 0;
	padding-bottom: 10px;
	line-height: 1.25;
}
.grey-clr{
	color:rgba(80, 106, 197, 1);
}
.line{
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}
.tab-label{
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.3;
	/*color: white;*/
}
.spacing2{
	padding: 0px 40px;
}
.about-head{
	margin-bottom: 20px;
	margin-top: 0;
}
.about-para{
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	font-style: normal;
}
.broadcast-img{
	width:100%;
	max-height: 490px;
}
.broadcast-btn{
	position: absolute;
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	top: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    overflow:hidden;
}
.panel-heading{
	border-radius: 0;
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
}
.panel-footer{
	padding:0;
}
.media-body{
	width: 220px;
}
.media{
	margin-top: 0;
}
.media1{
	border-radius: 30px;
	height: 50px;
	width:50px;
	object-fit: cover;
    object-position: center;
}
.close{
	color: white;
	text-shadow: 0;
	opacity: 1;
}
.close:hover{
	color: white;
}
.broad-form{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	border:0;
	box-shadow: none;
	border-radius: 0;
	height: 40px;
	color: white;
}
.broad-form::placeholder{
	color: white;
}
.broad-form:focus{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	border:0;
	box-shadow: none;
}
.broad-icon{
	background-color: #ff3d63;
	border: 1px solid #ff3d63;
	padding: 0 20px;
	border-radius: 0;
	color:white;
	cursor: pointer;
}
.broad-icon:hover{
	background-color: #fa0e3c;
	border: 1px solid #fa0e3c;
}
.panel-body{
	height: 390px;
	overflow-y: scroll;
}
.panel-default{
	margin: 0;
}
.modal-content{
	border-radius:0;
}
.modal-header{
	background-color:#ff3d63; 
	color:white;
	text-align: center;
	padding: 10px;
	border: 0;
}
.modal-body{
	padding: 0;
}
.modal-header .close {
    margin-top: 0px;
    margin-right: 5px;
}
.error-img{
	/*width: 600px;*/
	/*height: 400px;*/
	margin: 0 auto;
}
.bg-grey1{
	background-color: #e4e7e7;
}
.bg-blue{
	background-color: #506ac5;
}
.radio-inline{
	padding-left: 0;
	text-transform: capitalize;
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top:1px;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: #ddd;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #ff3d63;
}
.option-input:checked {
  background: #ff3d63;
  outline: none;
}
input[type="radio"]{
	margin-top:2px !important;
}
input[type="radio"]:focus{
	outline: none;
}
.control-label{
	font-weight: 600;
}
.option-input:checked::before {
  height: 15px;
  width: 14px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.spacing3{
	padding:0 30px 0 15px;
}
.public-video-header{
	padding: 10px;
	text-align: center;
	background: -webkit-linear-gradient(left top, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
    font-size: 24px;
	color: white;
	text-transform: uppercase;
}
.top-spacing1{
	padding-top: 25px;
}
.public-img{
	height:180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.playbtn1{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}
.pink-btn-play1,.white-btn-play1{
	height: 40px;
	width: 40px;
}
.playbtn1 .pink-btn-play1 {
    display: none;
}
.playbtn1:hover .pink-btn-play1{
    display: block;
}
.playbtn1:hover .white-btn-play1{
    display: none;
}
.followers-count{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgb(175, 142, 252);
	color: white;
	font-size: 16px;
	padding: 5px 10px;
}
.suggestion-list{
	background-color: white;
	padding: 15px;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.close1{
	color:black;
	text-shadow: 0;
	opacity: 1;
}
.close1:hover{
	color: black;
}
.overflow{
	white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.overflow1{
	white-space: nowrap; 
    width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.bottom-space{
	padding-bottom: 8px;
}
.btn-padding{
	padding: 3px 21px !important;
}
.middle-align{
	margin: 0 auto;
}
.subscription-bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*height: 130px;*/
}
.subscription-overlay{
	background-color:rgba( 255, 61, 99 ,.4);
	height: 150px;
	color:white;
	text-align: center;
	padding: 20px;
}
.subscription-overlay1{
	background-color:rgba( 101, 59, 200,.4); 
	height: 150px;
	color:white;
	text-align: center;
	padding: 20px;
}
.sub-head{
	margin: 10px;
	line-height: 1.25;
}
.subscription-content{
	border: 1px solid #ff9ab1;
	padding: 0px 0px 10px 0px;
	line-height: 1.5;
	text-align: center;
}
.subscription-content1{
	border: 1px solid #ac8afa;
	padding:0px 0px 10px 0px;
	line-height: 1.5;
	text-align: center;
}
.subscription-content-text{
	height: 114px;
	overflow-y: auto;
}
.width-60{
	width: 60px;
}
.width-70{
	width: 70px;
	height: 70px;	
}
.width-100{
	width: 100px;
}
.width-120{
	width: 120px;
}
.width-150{
	width: 150px;
}
.width-200{
	width: 200px;
}
.top{
	margin-top: 10px;
}
.user-img-sm{
	cursor: pointer;
}
.text-overflow{
	width:100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mt-5{
	margin-top: 5px !important;
}
.mt-10{
	margin-top: 10px !important;
}
.invoice-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:220px;
	border-radius: 5px 5px  0 0 ;
}
.invoice-overlay{
	background: -webkit-linear-gradient(left top, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
    height:220px;
    border-radius:5px 5px  0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invoice-head{
	font-size: 42px;
	color: white;
	font-weight: bold;
}
.m-0{
	margin: 0;
}
.bottom-radius{
	 border-radius: 0 0 5px 5px ;
}
.shadow{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.captalize{
	text-transform: capitalize;
}
.theme-color{
	color: #653BC8;
}
.mb-0{
	margin-bottom: 0;
}
.payment-success{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	padding:40px 20px;
}
.success-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 250px;
	margin: 10px auto;
}
/*.success-img{
	
}*/
.bold{
	font-weight: bold;
}
.top-padding{
	padding-top: 5px;
}
.failure-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 250px;
	margin: 10px auto;
}
.result-img{
	max-height: 300px;
}
.dis-block{
	display: block !important;
}
.dis-none{
	display: none;
}
.mr-10{
	margin-right: 10px !important;
}
.size-14{
	font-size: 14px !important;
}
.theme-clr{
	color: #653BC8;
}
.text-grey-clr{
	color: #999;
}
.width-35{
	width:35px !important;
}
.profile-image{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin:0 auto;
	text-align: right;
}
.mt-20{
	margin-top: 22px;
}
.mb-20{
	margin-bottom: 20px;
}
.line1{
	border-bottom: 1px solid #eee;
	margin-top:15px;
	margin-bottom: 10px;
}
.pink-clr{
	color:  #ff3d63;
}
.pink-clr:hover, .pink-clr:active, .pink-clr:focus{
	color: #ff3d63; 
}
.mb-10{
	margin-bottom: 10px;
}
.video-amount{
	display: table-cell;
	padding:5px 10px;
	background-color:#ff3d63;
	color: white; 
}
.video-amount h5{
	font-size: 16px;
}
.no-margin{
	margin: 0;
}
.position{
	margin-top:-35px;
}
.privacy{
	padding: 10px 20px 0 20px;
}
.privacy li{
	line-height:30px;
	color:#6f6f6f;
}
.input__field1::placeholder{
	color: white;
}
.search-suggestions{
	position: fixed;
	max-width: 350px;
	width: calc(100% - 2em);
	top:0px;
	align-items: center;
	margin: 0 auto;
	z-index: 99999;
}
.p-0{
	padding: 0 !important;
}
.ui-menu {
	z-index: 1069 !important;
	padding:0 !important;
	list-style: none !important;
	background-color:#653BC8 !important; 
	color: white !important;
}
.ui-menu .ui-menu-item{
	color: white !important;
	padding: 5px 10px !important;
}	
.ui-menu .ui-menu-item:hover{
	background-color:#ff3d63 !important; 
}
/* ===========loader======== */
.mr-5{
	margin-right: 5px;
	margin-left: 0;
}
a, a:hover, a:focus, a:active{
	color: #653BC8;
}
.subcription-card{
	background-color:#fff;
	box-shadow: 3px 0px 11px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:30px;
}
.subcription-card  i{
	font-size: 50px;
	color: #333333;
}
.subcription-card:hover  i{
	color:#653BC8;
}
.subcription-card h3{
	color: #333333;
	font-size:22px;
	margin-top: 15px;
	margin-bottom: 0;
	text-transform: capitalize;
}
.subcription-card:hover h3{
	color:#653BC8;
}
.invoice-video-img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.invoice-media{
	display: inline-block;
	width: 100%;
}
.invoice-media .invoice-left{
	width:80px;
	height: 70px;
	float: left;
}
.invoice-media .invoice-body{
	width: calc(100% - 80px);
	float: left;
}
.invoice-media .invoice-heading{
	text-transform: capitalize;
}
.invoice-text{
	color: #999;
	font-size: 14px;
	height: 43px;
	overflow: hidden;
	margin-bottom: 0;
}
.invoice-media .invoice-body h4{
	font-size:20px;
	margin-top:0px;
	margin-bottom: 5px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.media-body h4::first-letter, .media-body p::first-letter{
	text-transform: capitalize;
}
.invoice-line{
	margin-top:20px;
	margin-bottom:20px;
}
.p-0{
	padding: 0 !important;
}
.m-0{
	margin:0 !important;
}
.coupon-form .form-control{
	height: 40px;
	border:1px solid #ddd;
	box-shadow: none;
}
.coupon-form{
	margin-top: 20px;
}
.coupon-form .form-control:focus{
	border-color:#ddd;
	box-shadow: none;
}
.coupon-form .input-group-addon{
	background-color: #ff3d63;
	color: #fff;
	border-color: #ff3d63;
}
.choose-login{
	width: 280px;
	margin:10px;
	text-transform: capitalize;
}
.example-image{
	height: 250px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	margin: 10px 0;
}
.footer-list{
	margin:0;
	padding: 0;
	list-style: none;
}
.footer-list li{
	color: #999999;
	text-transform: capitalize;
	line-height:1.9;
}
.footer-list li a{
	color: #999999;
}
.footer-list li a:hover{
	color: #333;
}
.footer-line{
	border-bottom: 1px solid #ddd;
	margin: 30px 0;
}
.display-inline{
	width: 100%;
	display: inline-block;
}
.footer-left{
	width:25px;
	padding-right:10px;
	color: #999999;
	float: left;
	text-align: center;
}
.footer-right{
	float: left;
	width: calc(100% - 25px);
	color: #999999;
}
.footer-right p{
	font-size: 16px;
	color: #999;
	line-height: 1.7;
	margin: 0;
}
.footer-head{
	margin-top:0;
	text-transform: capitalize;
}
.light-grey{
	color: #ddd;
}
.grey{
	color: #999999;
}
.social-share{
	font-size: 14px;
	padding-left: 2px;
	transition: .3s all linear;
}
.social-share:hover .fb{
	color:#3b5999;
}
.social-share:hover .twitter{
	color:#55acee;
}
.social-share:hover  .linkedin{
	color:#0077B5;
}
.social-share:hover  .google{
	color:#dd4b39;
}
.social-share:hover  .pinterest{
	color:#bd081c;
}
.size-16{
	font-size: 16px;
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter,
p::first-letter, a::first-letter, span::first-letter, label::first-letter{
	text-transform: capitalize;
}
.top-13{
	margin-top: 13px;
}
.mt-0{
	margin-top: 0 !important;
}
.note{
	font-size: 14px;
	color: #999;
	max-width: 80%;
	margin: 0 auto auto auto;
	line-height: 18px;
}
.vod-left{
	width:calc(100% - 25px);
	float: left;
}
.vod-left h4{
	margin-bottom: 0;
	margin-top: 5px;
}
.vod-right i{
	margin-top: 6px;
	color: #999;
	cursor: pointer;
}
.vod-right{
	width: 25px;
	float:right;
	text-align: right;
}
.vod-listdropdown.dropdown-menu{
	left: unset !important;
	right:0 !important;
}
.vod-listdropdown.dropdown-menu li a{
	padding: 6px 20px;
}
.dashboard-card{
	background-color: #fff;
	margin-top: 35px;
	padding:15px;
	/* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); */
	border-radius: 5px;
	margin-bottom: 15px;
}
.dashboard-head{
	background:linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	padding: 20px 30px;
	border-radius: 3px;
	text-transform: capitalize;
	font-size: 20px;
	color: #fff;
	margin-top: -35px;
	display: table;
	float: right;
}
.dashboard-details{

}
.dashboard-details-head{
	color: #653BC8;
	font-size: 22px;
	margin-top:0px;
	text-transform: capitalize;
}
.dashboard-details p{
	font-size: 16px;
	text-transform: capitalize;
}
.about-text{
	font-size: 16px;
	line-height: 22px;
	margin-top: 4px;
}
.streamer-icon{
	height: 40px;
	width: 40px;
	margin-top: 170px;
	margin-right: 10px;
	animation: img-spin infinite 5s linear;
}
@keyframes img-spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(360deg); }
}
.small-text{
	font-size: 60%;
}
.search_menu {
    /*background: #06162b none repeat scroll 0 0; */
    background: #fff none repeat scroll 0 0; 
    border-radius: 10px;
    border-right: 20px none;
    color: #000;
    padding: 10px 15px;
    width: 100% !important;
	position: absolute;
	/* bottom: 0; */
	top: 35px;
	right: 0;
	left: 0;
	margin: 0 auto;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.search_menu li:hover, .search_menu li:active, .search_menu li:focus {
    background-color: #653BC8 ;
    color: #fff;
}
.search_menu li{
	list-style: none;
	padding: 5px;
	text-align: left;
	transition: .2s all linear;
}
.search_bar {
	position: relative;
}
.addcard-bgimg{
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.addcard-bg-overlay{
	background-color:rgba( 101, 59, 200,.4); 
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.addcard-form{
	height: 500px;
	overflow-y:auto;
	background-color: #fff;
	overflow-x: hidden;
	padding: 30px;
}
.payment-card-img{
	height:350px;
	width: 80%;
	object-fit: contain;
	object-position: center; 
}
.payment-form .form-control{
	border:1px solid #ddd;
	padding: 10px;
	height: unset;
	box-shadow: none;
}
.payment-form .form-control:focus{
	border-color: #ac8afa;
	box-shadow: none;
}
.white-link{
	color: #fff !important;
}
.white-link:hover, .white-link:active, .white-link:focus{
	color: #fff !important;
	text-decoration: underline !important;
}
.ml-5{
	margin-left:5px !important;
}
.payment-left{
	float: left;
	width: 70px;
}
.payment-left img{
	width: 70px;
	height: auto;
}
.payment-right{
	float:left;
	width: calc(100% - 70px);
	padding-left:10px;
}
.mt-0{
	margin-top:0;
}
.payment-right i{
	color: #000 !important;
}
.payment-right h5{
	font-size: 16px;
	margin-top: 0;
}
.payment-right .green-clr{
	color: green !important;
	cursor: unset;
	text-transform: capitalize;
}
.mb-17{
	margin-bottom: 17px !important;
}
.payment-right .red-clr{
	color: red !important;
	text-transform: capitalize;
}
.addcard{
	margin-top: 10px;
	display: inline-block;
}
.subscribed-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}
.subs-table{
	padding: 0 15px;
	text-align: left;
}
.subs-table .table{
	margin-bottom: 0;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.subscribed-text{
	padding: 0 15px;
	height: 50px;
	overflow: hidden;
}
.pointer{
	cursor: pointer;
}
.watch-count{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color:rgb(175, 142, 252);
	padding:5px 10px;
	color:#fff;
}
.watch-count h5, .video-amount h5{
	color: #fff;
	font-size: 16px;
}
.video-amount{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color:rgb(175, 142, 252);
	padding:5px 10px;
	color:#fff;
}
.p-10{
	padding: 10px;
}
.mb-15{
	margin-bottom: 15px !important;
}
.search-input{
	width: 100%;
	border:1px solid #ccc;
	box-shadow: none;
	border-radius:3px;
	background-color: transparent;
	padding: 10px 15px;
	height: 40px;
	position: relative;
}
.search-input:focus{
	border-color:#7052CD;
	box-shadow: none;	
}
.upload.progress{
	background-color: #fff !important;
}
.upload .progress-bar{
	background-color: #653BC8;
}	
.min-width-120{
	min-width: 120px;
}
.user-details.watch-user{
	width: 100%;
	display: inline-block;
}
.sugg-imgsec{
	float: left;
	width: 40px;
}
.sugg-imgsec img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.sugg-namesec{
	float: left;
	width: calc(100% - 140px);
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	margin-top:8px;
}
.sugg-btnsec{
	width: 100px;
	float: left;
}
.btn-link.small{
	font-size: 50% !important;
	color: #337ab7 !important;
}
.small:hover, .small:focus, .small:active{
	color: #23527c !important;
}
.signup-head span{
	vertical-align: 8%;
	margin-left: 5px;
}
.profile-bg-overlay{
	background-color: rgba(0, 0, 0, 0.3);
}
.redeems-sec{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #fff;
	padding:20px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
}
.redeems-left{
	width: 180px;
	float: left;
}
.redeems-right{
	width: calc(100% - 180px);
	float: left;
	padding-left:20px; 
}
.redeems-img{
	height: 180px;
	width:180px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:auto auto 15px auto;
}
.redeems-img h3{
	margin:0;
	font-weight: bold;
	font-size: 20px;
}
.gold-clr{
	color: #b6843b;
}
.redeem-text{
	color: #999;
	line-height: 1.4;
	font-size: 16px;
	margin-top: 15px;
}
.mt-10{
	margin-top: 10px;
}
#defaultImage img{
	height: 350px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
#defaultImage{
	position: relative;
}
.video-loader{
	height: 350px;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
iframe{
	overflow:hidden;
	color: #653BC8
}

/* loader */
.loader-sec{
	position: fixed;
	width: 100%;
	height:100%;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	z-index: 99999;
}

.loader-sec-android {
	position: fixed;
	width: 100%;
	height:100%;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	z-index: 99999;
	color: #fff;
}
.pong-loader {
	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50%; */
	height: 40px;
	width: 6px;
	margin: 0 auto;
	background-color: transparent;
	animation: paddles 0.75s ease-out infinite;
	transform: translate3d(0, 0, 0);
}
.pong-loader:before {
	content: "";
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 15px;
	width: 10px;
	height: 10px;
	background-color: #653BC8;
	border-radius: 50%;
	animation: ballbounce 0.6s ease-out infinite;
}

@keyframes paddles {
	0% {
		box-shadow: -25px -10px 0px #653BC8, 25px 10px 0px #653BC8;
	}
	50% {
		box-shadow: -25px 8px 0px #653BC8, 25px -10px 0px #653BC8;
	}
	100% {
		box-shadow: -25px -10px 0px #653BC8, 25px 10px 0px #653BC8;
	}
}
@keyframes ballbounce {
	0% {
	  transform: translateX(-20px) scale(1, 1.2);
	}
	25% {
	  transform: scale(1.2, 1);
	}
	50% {
	  transform: translateX(15px) scale(1, 1.2);
	}
	75% {
	  transform: scale(1.2, 1);
	}
	100% {
	  transform: translateX(-20px);
	}
}
/* section loader */
@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	10% {
	  transform: rotate(0deg);
	}
	20% {
	  transform: rotate(90deg);
	}
	35% {
	  transform: rotate(90deg);
	}
	45% {
	  transform: rotate(180deg);
	}
	60% {
	  transform: rotate(180deg);
	}
	75% {
	  transform: rotate(270deg);
	}
	85% {
	  transform: rotate(270deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	10% {
	  -webkit-transform: rotate(0deg);
	}
	20% {
	  -webkit-transform: rotate(90deg);
	}
	35% {
	  -webkit-transform: rotate(90deg);
	}
	45% {
	  -webkit-transform: rotate(180deg);
	}
	60% {
	  -webkit-transform: rotate(180deg);
	}
	75% {
	  -webkit-transform: rotate(270deg);
	}
	85% {
	  -webkit-transform: rotate(270deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	}
}
@keyframes bounce {
	0% {
	  transform: scaleX(1);
	}
	10% {
	  transform: scaleX(1);
	}
	20% {
	  transform: scaleX(0.8);
	}
	35% {
	  transform: scaleX(0.8);
	}
	45% {
	  transform: scaleX(1);
	}
	60% {
	  transform: scaleX(1);
	}
	75% {
	  transform: scaleX(0.8);
	}
	85% {
	  transform: scaleX(0.8);
	}
	100% {
	  transform: scaleX(1);
	}
}
@-webkit-keyframes bounce {
	0% {
	  -webkit-transform: scaleX(1);
	}
	10% {
	  -webkit-transform: scaleX(1);
	}
	20% {
	  -webkit-transform: scaleX(0.8);
	}
	35% {
	  -webkit-transform: scaleX(0.8);
	}
	45% {
	  -webkit-transform: scaleX(1);
	}
	60% {
	  -webkit-transform: scaleX(1);
	}
	75% {
	  -webkit-transform: scaleX(0.8);
	}
	85% {
	  -webkit-transform: scaleX(0.8);
	}
	100% {
	  -webkit-transform: scaleX(1);
	}
}
.loader {
	box-sizing: content-box;
	height: 40px;
	margin: 10px auto 10px auto;
	position: relative;
	width: 70px;
}
.loader:before {
	border: 2px solid #653BC8;
	box-sizing: content-box;
	content: '';
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
}
.loader .spin {
	-webkit-animation: spin 2.25s linear infinite;
	animation: spin 2.25s linear infinite;
	height: 14px;
	left: 28px;
	position: absolute;
	top: 13px;
	width: 14px;
}
.loader .spin:before {
	border: 3px solid #653BC8;
	box-sizing: content-box;
	content: '';
	height: 14px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
	width: 14px;
}
.loader .bounce {
	-webkit-animation: bounce 2.25s linear infinite;
	animation: bounce 2.25s linear infinite;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.loader .bounce:after, .loader .bounce:before {
	box-sizing: content-box;
	content: '';
	height: 10px;
	position: absolute;
	top: 13px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 10px;
}
.loader .bounce:before {
	border-bottom: 3px solid #653BC8;
	border-left: 3px solid #653BC8;
	left: 0;
}
.loader .bounce:after {
	border-right: 3px solid #653BC8;
	border-top: 3px solid #653BC8;
	right: 0;
}
.auth-form .input-group {
	width: 100%;
	font-size: 16px;
	padding-top:15px;
	position: relative;
	margin-bottom: 25px;
}
.auth-form .input-group input {
	width: 100%;
	color: white;
	border: none;
	outline: none;
	padding: 10px 0;
	line-height: 1;
	font-size: 16px;
	font-family: 'Raleway';
	border-bottom: solid 2px white;
	background-color: transparent;
	-webkit-transition: box-shadow 0.2s ease-in;
	-moz-transition: box-shadow 0.2s ease-in;
	-ms-transition: box-shadow 0.2s ease-in;
	-o-transition: box-shadow 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}
.auth-form .input-group input + label {
	left: 0;
	top: 20px;
	position: absolute;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.auth-form .input-group input:focus {
	border-bottom: solid 3px #ff3d63;
}
.auth-form .input-group input:focus + label, .input-group input.active + label {
	font-size: 16px;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
}
.searchinput{
	display: inline-block;
	margin:18px;
	width: 350px;
	position: relative;
	max-width:calc(100% - 36px);
}
.searchinput .form-control{
	background-color: transparent;
	border-color: #fff;
	border-radius: 20px;
	color: #fff;
	box-shadow: none;
	text-transform: unset !important;
}
.searchinput input:focus{
	box-shadow: none;
}
.searchinput .form-control::placeholder{
	color: #fff !important;
}
.searchinput .form-control::-moz-placeholder{
	color: #fff !important;
}
.searchinput .form-control::-webkit-input-placeholder{
	color: #fff !important;
}
.searchinput .form-control:-ms-input-placeholder { 
	color: #fff !important;
}
.mr-5{
	margin-right: 5px;
}
.mt-15{
	margin-top: 15px;
}
.ml-5{
	margin-left: 5px;
}
.mr-15{
	margin-right: 15px;
}
.video-details{
	background-color: #fff;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1); 
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}
.video-left{
	float: left;
	width:60px;
}
.video-right{
	float:left;
	width:calc(100% - 60px);
	padding-left:15px;
}
.video-icon{
	width:100%;
	height:auto;
}
.sidemenu-img{
	height:23px;
	width: 23px;
	margin:16px 8px;
}
.side-men .pink-icon{
	display: none;
}
.side-men:hover .grey-icon{
	display: none;
}
.side-men:hover .pink-icon{
	display: block;
} 
.active-pink.pink-icon{
	display: block !important;
}
.active-pink.grey-icon{
	display: none !important;
}
.button:active, a:active, input#optradio1:focus{
	outline: none;
}
.affix-sec{
	position: sticky;
	top:100px;
}
.redeems{
	height:403px;
	overflow-y:auto;
	overflow-x: hidden;
}
.confirmation {
	border-radius: 3px;
	border:0;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.confirmation .close{
	color:#999 !important;
	margin-top: -10px;
    margin-right: -10px;
}
.confirmation .close:hover, .confirmation .close:focus, .confirmation .close:active{
	color: #333 !important;
}
.confirmation .modal-body{
	padding: 20px !important;
}
.myplans{
	margin:40px 0 0 0;
}
.height-200{
	height:215px !important;
	display:flex;
	align-items: center;
	justify-content: center;
}
.myplan{
	background-color: #fff;
	padding: 10px 0 10px 15px;
}
.myplan-details{
	height:195px;
	padding-right: 15px;
	overflow-y:auto;
	background-color: #fff;
	overflow-x: hidden; 
}
.sub-desc{
	font-size: 16px;
	color:#999;
	margin-bottom:10px;
	line-height: 1.4;
}
.white-link{
	color: #fff;
	text-decoration: underline !important;
	font-size: 16px;
}
.md-form{
	margin-bottom:2.5rem;
	margin-top:2.5rem;
}
.md-form label{
	color:#fff;
	font-size: 1.0em !important;
}
.md-form input, .md-form textarea{
	border-bottom: 2px solid #fff !important;
	color:#fff;
	text-transform: unset !important;
}
.md-form input:focus:not([readonly]) + label, .md-form textarea:focus:not([readonly]) + label{
	color: #fff !important;
}
.md-form input:focus, .md-form textarea:focus,{
	border-color: #ff3d63 !important;
	box-shadow: none !important;
	outline: none !important;
}
.form-control{
	text-transform: unset !important; 
}
.black-text .md-form label{
	color:#333;
	font-size: 1.0em !important;
	/* font-weight: bold; */
}
.black-text .md-form input, .black-text .md-form textarea{
	border-bottom: 2px solid #333 !important;
	color:#888;
	text-transform: unset !important;
}
.black-text .md-form input:focus:not([readonly]) + label{
	color: #333 !important;
}
.black-text .md-form textarea:focus:not([readonly]) + label{
	color: #333 !important;
}
.md-form textarea.md-textarea{
	padding:1rem 0;
}
.md-form input, .md-form textarea{
	box-shadow: none !important;
}
.md-form textarea:focus, .md-form input:focus{
	outline: none !important;
	box-shadow: none !important;
}
.lb-nav a.lb-next, .lb-nav a.lb-prev{
	opacity: 1 !important;
}
.delete-img{
	position: absolute;
	top:25px;
	right:30px;
}
.delete-img i{
	color: #fff;
}
.size-20{
	font-size: 20px;
}
.inputfile + label.gal-upload{
	width: 100% !important;
	max-width: 100% !important;
	text-align: center !important;
}
.view-more-sec{
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 15px;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}
.view-more-sec i{
	vertical-align: -11%;
    margin-left: 5px;
    font-size: 20px;
}
.view-more-sec.show[aria-expanded="true"]{
	display: none !important;
}
.label{
	padding: .3em .6em .3em;
	letter-spacing: .7px;
    font-weight: normal
}
.label.label-success{
	background-color: #ff3d63;
	color:#fff !important;
}
.heading-element{
	margin:10px 0 0 0;
	font-size: 26px;
	text-align: center;
	text-transform: capitalize;
}
.timeline{
    padding-top: 1em;
}
.timeline-item{
    border-left: 2px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
}
.timeline-bar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20px;
}
.timeline-item .version{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
	background-color: #fff;
	border:2px solid #ddd;
    margin-left: -8px;
    font-size: 1em;
    width: 14px;
    height:14px;
    border-radius: 2em;
    color: #ffffff;
}
.timeline-item .redeem-content{
    padding-top: 11px;
    padding-bottom: 2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.timeline-item .redeem-content .redeem-amount{
	color: #653BC8;
	margin-top: 10px;
	margin-bottom: 10px;
}
.redeem-content img{
	height: 45px;
	margin-top:10px;
}
.timeline-item .redeem-content ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.timeline-item .redeem-content ul li{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50%;
    font-size: 1em;
    font-weight: 300;
    padding: 0 1.5em .5em 0;
}
.fixed-chat{
	position: fixed;
    right: 0;
    height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
}
.chat-container{
	height: calc(100vh - 152px);
}
.live-icon{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 20px;
	margin-right: 10px;
	-webkit-animation: ripple 0.7s linear infinite;
	      animation: ripple 0.7s linear infinite;
}
@-webkit-keyframes ripple {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3);
	}
	100% {
		-webkit-box-shadow: 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3), 0 0 0 2em rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3), 0 0 0 2em rgba(255, 255, 255, 0);
	}
}

@keyframes ripple {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3);
		}
		100% {
		-webkit-box-shadow: 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3), 0 0 0 2em rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 .25em rgba(255, 255, 255, 0.3), 0 0 0 .75em rgba(255, 255, 255, 0.3), 0 0 0 1.25em rgba(255, 255, 255, 0.3), 0 0 0 2em rgba(255, 255, 255, 0);
	}
}
.noresult-img{
	margin-top: 15px;
	max-height: 300px;
	width: auto;
	max-width: 100%;
}
.close-ribbon{
	position: absolute;
	top: 0;
	left: 1em;
	z-index: 1;
	color: #eee;
	font-size: 2em;
	cursor: pointer;
	width: 1.5em;
	line-height: 0.5em;
	-webkit-transition: line-height 0.5s;
	transition: line-height 0.5s;
}
.close-ribbon:after {
	content: "";
	font-size: 0.5em;
	position: absolute;
	height: 2.2em;
	border: 1.5em solid rgb(175, 142, 252);
	z-index: -1;
	top: -1em;
	border-top-width: 1.5em;
	border-bottom-color: transparent;
	right: 0;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}
.close-ribbon:before {
	content: "";
	font-size: 0.5em;
	position: absolute;
	border-style: solid;
	border-color: transparent transparent rgb(175, 142, 252) transparent;
	top: -1em;
	right: 3em;
	border-width: 0 0 1em 0.7em;
	z-index: -1;
}
.pt-120{
	padding-top: 120px !important;
}
.pt-70{
	padding-top: 70px !important;
}
.md-form label{
	font-weight: 600;
}
.white-btn{
	display: inline-block;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 25px;
    color: #fff !important;
    background-color: transparent;
}
.p-10{
	padding: 10px;
}
.video-status{
	height: 25px;
	width: 25px;
}
.modal-open{
	overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
#videos-container{
	height:350px;
	background-color: #666;
	display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-item .history-content ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.timeline-item .history-content ul li{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    padding: 0;
}
.timeline-item .history-content ul li p{
	margin-top: 10px;
	margin-bottom: 0;
}
.timeline-item .history-content ul li h4{
	margin-top: 5px;
	margin-bottom: 0;
}
.view-btn{
	background-color: transparent;
	color: #999;
	border-radius: 25px;
	padding:5px 15px;
	border:1px solid #999;
	line-height: 1;
}
.view-btn:hover, .view-btn:active, .view-btn:focus{
	outline: none;
	background-color: #ff3d63;
	color: #fff;
	border-color: #ff3d63;
}
.absolute-details{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	background-color: #fffffff5;
	padding:15px;
	overflow:auto;
	border-radius: 5px 5px 0 0;
	display: none;
}
.detail-head{
	font-size: 20px;
	color: #333;
}
.timeline-item .version1{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
	background-color: #fff;
	border:2px solid #ddd;
    margin-left: -6px;
    font-size: 1em;
    width: 10px;
    height:10px;
    border-radius: 2em;
    color: #ffffff;
}
.label{
	text-transform: capitalize;
}
.dropdown-toggle.menu-icon{
	width:25px;
	height: 25px;
    border-radius: 15px;
    display: flex;
	justify-content: center;
	cursor: pointer;
	transition: .2s all linear;
}
.dropdown-toggle.menu-icon:hover{
	background-color: #eee;
}
.error-page{
	height:100vh;
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no_result_class {

	display:flex; /*height:100vh; width:100vw;*/ align-items:center; justify-content:center;
}

.search_menu li:hover h4{

	color: #ffffff;

}

.search_menu li:hover p{

	color: #ffffff;

}

.search_menu .img-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: auto 10px auto auto;
}
.hidden-web{
	display: none !important;
}
.user-details-img{
	float: left;
}
.user-name-info{
    margin-left: 10px;
    float: left;
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}
.videos-container-mobile{
	height: 100% !important; 
    width: 100% !important;
    position: fixed !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #000 !important;
}
.videos-container-mobile .control.zoom-in{
	display: none !important;
}
#cameras-selection-container{
	position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#cameras-selection-container img{
	height: 30px;
    width: 30px;
}
videos-containerreview{
	height: 101% !important;
}
.android-loader{
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	background: #000;
}
#spinningTextG{
	height:29px;
}
.spinningTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:36px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_spinningTextG;
		-o-animation-name:bounce_spinningTextG;
		-ms-animation-name:bounce_spinningTextG;
		-webkit-animation-name:bounce_spinningTextG;
		-moz-animation-name:bounce_spinningTextG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}
#spinningTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#spinningTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#spinningTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#spinningTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#spinningTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#spinningTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#spinningTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
@keyframes bounce_spinningTextG{
	0%{
		transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		transform:scale(.3) rotate(90deg);
		color:rgb(0,0,0);
	}
}
@-o-keyframes bounce_spinningTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-o-transform:scale(.3) rotate(90deg);
		color:rgb(0,0,0);
	}
}
@-ms-keyframes bounce_spinningTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-ms-transform:scale(.3) rotate(90deg);
		color:rgb(0,0,0);
	}
}
@-webkit-keyframes bounce_spinningTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-webkit-transform:scale(.3) rotate(90deg);
		color:rgb(0,0,0);
	}
}
@-moz-keyframes bounce_spinningTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-moz-transform:scale(.3) rotate(90deg);
		color:rgb(0,0,0);
	}
}
.user-profile{
	padding-bottom: 10px;
}
.mt-30{
	margin-top:30px;
}
.mb-30{
	margin-bottom: 30px !important;
}
.chat-container .media{
	display: inline-block !important;
	width: 100% !important ;
}
.chat-container .media-left{
	width: 60px !important;
	float: left !important;
	padding-right: 10px !important;
}
.chat-container .media-body{
	float: left;
	width: calc(100% - 60px) !important;
}
.pl-20{
	padding-left: 20px;
}
.disable-links {
	pointer-events: none;
	cursor: default;
	/*opacity: 0.6; */
}

.main_video_error{

    position: relative;
}

.flash_display {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    right: 0;
}
.single-video-loader body{
	overflow: hidden !important;
}
/* .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
} */
/* .fade.in {
    opacity: .5;
} */
/* .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
} */
=======

.group-sidebar{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top:70px;
	height:calc(100vh - 70px);
	right:0;
	width: 33%;
	background: #fff;
	padding: 15px;
	overflow-y:auto;
	overflow-x: hidden;
}
.sidebar-header h3{
	margin-top: 0;
	margin-bottom: 15px;
}
.sidebar-header{
	border-bottom: 1px solid #ddd;
}
.add-participant-img{
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
.group-left{
	width: 50px;
	float: left;
}
.group-right{
	width:calc(100% - 50px);
	float: left;
	padding-left: 15px;
}
.group-par-left{
	width: 50px;
	float: left;
}
.group-par-middle{
	width:calc(100% - 80px);
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.group-par-right{
	width: 30px;
	float: left;
	margin-top: 10px;
	height: 30px;
    text-align: center;
    border-radius: 3px;
    padding-top: 4px;
}
.group-par-right:hover{
	background: #ddd;
}
.group-par-right i{
	color:#999 !important;
}
.group-sec{
	padding:20px 0 0 0;
	/* border-bottom: 1px solid #ddd; */
}
.mt-4{
	margin-top: 4px;
} 
.mb-4{
	margin-bottom: 4px;
}
.black-txt{
	color: #333;
}
.group-sec h4, .group-sec p{
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.group-heading{
	margin-top:0;
	margin-bottom: 20px;
}

.group-heading::first-letter{
	text-transform: capitalize;
}

.group-profile-img{
	height:180px;
	width:180px;
	border-radius: 50%;
	margin: 0 0 20px 0;
	object-fit: cover;
	object-position: center;
}

.pro-desc{
	line-height: 1.5;
}

.group-bg-img{
	height:230px;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.group-bg-img-overlay{
	background-color:#00000099;
	height:230px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.camera-edit-img{
	height:80px;
	widows: 80px;
	object-fit: cover;
	object-position: center;
}
.view-group-bg-img-overlay{
	background-color:#00000099;
	background: linear-gradient(transparent, #000000dd );
	height:230px;
	display:flex;
	align-items: flex-end;
	padding: 20px;
}
.view-group-head{
	margin-top:0;
	color:#fff;
}
.view-group-head::first-letter, .view-group-text::first-letter{
	text-transform: capitalize;
}
.view-group-text{
	margin-bottom: 0;
	color:#fff;
}
.group-edit{
	position: absolute;
	top: 20px;
	right: 35px;
}
.group-edit h4{
	margin:0;
	color: #fff;
}
.group-edit h4 a{
	color:#fff;
}
.search_menu li{
	padding: 10px 5px;
	display: table;
    width: 100%;
}
.search_menu li p{
	margin: 0;
}
.search_menu ul{
	margin:0;
	padding: 0;
}
.search_menu .search-left{
	float: left;
	width: 50px;
}
.search_menu .search-right{
	float: left;
	width: calc(100% - 50px);
}
.search_menu .search-live-video .search-live-video-img{
	height:40px;
	width: 40px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	margin-right: 10px;
}
.search_menu .search-right h4, .search_menu .search-right p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 
.search_menu .search-right h4 span{
	color:#fff;
}
.live-video-indication{
	position: absolute;
	top:5px;
	right: 15px;
}
.rec-symbol{
	width:8px;
	height:8px;
	background-color: #ff3d63;
	border-radius: 5px;
}
/* .search_menu{
	display: none;
} */
.view-group-subhead{
	margin:0 0 15px 0;
	font-size: 20px;
}
.view-group-desc{
	margin-bottom: 20px;
}
.view-group-subhead::first-letter{
	text-transform: capitalize;
}
#remove-member .modal-content, #add-participant .modal-content {
	border:0 !important;
	border-radius: 5px;
}
#add-participant .modal-content {
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
#remove-member .modal-body, #add-participant .modal-body{
	padding: 20px;
}
#remove-member .modal-body button.close, #add-participant .modal-body button.close {
	margin-top:-5px;
	color: #999 !important;
}
.mt-30{
	margin-top: 30px;
}
.selected-member{
	margin: 0;
	padding: 0;
	list-style: none;
}
.selected-member-list{
	display: inline-block;
	padding: 5px;
	background-color: #eee;
	border-radius: 30px;
	margin: 0 10px 10px 0;
}
.selected-member-list img{
	height:30px;
	width:30px;
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
}
.selected-member-list span{
	margin:0 5px;
}
.selected-member-list .remove-selected{
	width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px;
    background-color: #ccc;
    color: #999;
    border-radius: 10px;
    margin-right: 0;
}
.cbx {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}
.cbx div {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}
.cbx div:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098A9;
	transition: all 0.2s ease;
}
.cbx div:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.cbx div:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #ff3d63;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
}
.cbx div:last-child {
	padding-left: 20px;
}
.cbx:hover div:first-child {
	border-color: #ff3d63;
}
.inp-cbx:checked + .cbx div:first-child {
	background: #ff3d63;
	border-color: #ff3d63;
	animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx div:first-child svg {
	stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx div:first-child:before {
	transform: scale(3.5);
	opacity: 0;
	transition: all 0.6s ease;
}  
@keyframes wave {
	50% {
	  	transform: scale(0.9);
	}
}
.cbx-first{
	float: left;
	margin: 20px 0;
}
.cbx-second{
	float: left;
	width: calc(100% - 40px);
}
.cbx h4, .cbx p{
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.fixed-submit-btn{
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.fixed-submit-btn button{
	padding: 0;
	border:0;
	width: 50px;
	height: 50px;
	background-color: #ff3d63;
	color: #fff;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
    border-radius: 50%;
}
.bell-noti-icon{
	height:24px;
	margin:4px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
}
.dropdown-menu.bell-noti{
	width: 300px;
	border: 0;
	padding: 0;
	margin: 0;
}
.noti-img-sec{
	float: left;
	width: 60px;
}
.noti-img-sec img{
	height:50px;
	width:50px;
	margin-right: 10px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
}
.noti-text-sec{
	float: left;
	width: calc(100% - 60px);
	padding-left: 10px;
}
.noti-text-sec h4{
	margin-top:0;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 7px;
}
.noti-text-sec p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0;
}
.pt-5{
	padding-top: 5px;
}
.pb-10{
	padding-bottom: 10px;
}
.noti-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	background: #eee;
	text-align: center;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.bell-noti .bell-noti-height{
	padding: 10px 15px;
	max-height:310px;
	overflow-x: hidden;
	overflow-y: auto;
}
.height-37{
	height:37px;
}
#language .modal-content{
	border:0 !important;
	border-radius: 5px;
}
#language .modal-body{
	padding: 20px;
}
#language .modal-body button.close {
	margin-top:-5px;
	color: #999 !important;
}
.circle-img{
	border-radius: 50% !important;
}
.notification-sec li:hover{
	background-color: #eee;
}
.pt-10{
	padding-top: 10px;
}
.notification-badge{
	background-color: #ff3d63;
	color: #fff;
	position: absolute;
	left:32px;
}
.search-element{
	margin:30px 0 0 0;
	font-size: 20px;
}
.search-element a{
	font-size: 16px;
}
.width-150{
	width: 150px;
}