<!-- MAIN SECTION STARTS -->
<div class="sec-padding left-spacing1">
    <!-- <div class="public-video-header top-margin">settings</div> -->
    <h3 class="heading-element">{{ 'settings_value' | translate }}</h3>
    <div class="row"> 
        <a routerLink="/profile">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-user"></i>
                        <h3>profile</h3>
                    </div>
                </div>
            </div>
        </a>
        <a data-toggle="modal" data-target="#language" class="pointer">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-language"></i>
                        <h3>language</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/subscription" *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-paypal"></i>
                        <h3>subscriptions</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/my-plans" *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-history"></i>
                        <h3>{{ 'my_subscriptions' | translate }}</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/paid-videos">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-play-circle"></i>
                        <h3>paid streaming histroy</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/streamed-videos" *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-video-camera"></i>
                        <h3>streaming histroy</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/vod-list" *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-video-camera"></i>
                        <h3>VOD Manager</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/vod-history">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-history"></i>
                        <h3>VOD history</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/vod-revenue"  *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-dollar"></i>
                        <h3>VOD revenue</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/add-card">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-credit-card"></i>
                        <h3>cards</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/redeems">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"  *ngIf="is_content_creator">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa  fa-usd"></i>
                        <h3>redeems</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/groups">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngIf="is_content_creator">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-users"></i>
                        <h3>Groups</h3>
                    </div>
                </div>
            </div>
        </a>

        <a routerLink="/live-tv/list" *ngIf="is_content_creator">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="subcription-card">
                    <div class="text-center">
                        <i class="fa fa-video-camera"></i>
                        <h3>Live Tv</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="modal fade" id="language" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" id="language_close">&times;</button>
            <h4 class="mt-0">Choose language</h4>

            <form (ngSubmit)="switchLanguage(language_name.value)">
                <div class="form-group size-16">
                    <div class="mt-20 pl-20">
                        <label class="radio-inline">
                            <input type="radio" value="en" id="optradio1" class="option-input radio" name="language_name" checked="checked" #language_name ngModel>English 
                        </label>
                    </div>
                    <div class="top pl-20">
                        <label class="radio-inline">
                            <input type="radio" value="fr" id="optradio1" class="option-input radio" name="language_name" #language_name ngModel>French
                        </label>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn">submit</button>
                </div>
            </form>
        </div>
      </div>
      
    </div>
</div>