<div class="top-spacing"></div>
<!-- MAIN SECTION STARTS -->
<div class="sec-padding left-spacing1" >
    <div class="public-video-header top-margin">{{'notifications_title' | translate}}</div>

    <div class="Spacer-10"></div>
    <ul class="p-0 m-0 notification-sec">
        <li *ngFor="let notification of notifications">

            <a routerLink="/join-video" [queryParams]="{video_id : notification.link_id}" *ngIf="notifications_types.LIVE_STREAM_STARTED == notification.type">
                <div class="display-inline pt5 pb-10">
                    <div class="noti-img-sec relative">
                        <img src="{{notification.picture}}" alt="live_video_img">
                        <div class="live-video-indication">
                            <div class="rec-symbol"></div>
                        </div>
                    </div>
                    <div class="noti-text-sec">
                        <h4>{{notification.notification}}</h4>
                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                    </div>
                </div>
            </a>

            <a routerLink="/view-profile" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_FOLLOW == notification.type || notifications_types.USER_JOIN_VIDEO == notification.type">
                <div class="display-inline pt-5 pb-10">
                    <div class="noti-img-sec relative">
                        <img src="{{notification.picture}}" alt="live_video_img">
                    </div>
                    <div class="noti-text-sec">
                        <h4>{{notification.notification}}</h4>
                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                    </div>
                </div>
            </a>

            <a routerLink="/view-group" [queryParams]="{id : notification.link_id}" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_GROUP_ADD == notification.type">
                <div class="display-inline pt-5 pb-10">
                    <div class="noti-img-sec relative">
                        <img src="{{notification.picture}}" alt="live_video_img">
                    </div>
                    <div class="noti-text-sec">
                        <h4>{{notification.notification}}</h4>
                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                    </div>
                </div>
            </a>

        </li>
    </ul>
    <div class="Spacer-5"></div>
    <!-- vod list -->
    <div class="loader" *ngIf="showLoader">
        <div class="spin"></div>
        <div class="bounce"></div>
    </div>

    <div class="text-center" *ngIf="skipCount > 0 && dataAvailable > 0">
        <button class="show-more-btn" (click)="showMore()">{{'show_more' | translate}}</button>
    </div>

    <div class="no_result_class text-center" *ngIf="skipCount <= 0">
        <div>
            <h3 class="tab-head text-center">No notifications found</h3>
            <img class="noresult-img" src="../../../assets/img/no-result.gif">
        </div>
    </div>
</div>