<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div> 
            <!--BARND AND TOGGLE GET GROUPED fOR BETTER MOBILE DISPLAY-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" routerLink="/">
                    <img src="{{site_logo}}" class="logo-img">
                </a> 
            </div>
            
            <!--COLLECT NAV LINKS FORMS AND OTHER CONTENT FOR TOGGLEING-->
            <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                <!-- <span class="input1 input--makiko ui-widget" >
                    <div class="search_bar">
                        <input class="input__field1 input__field--makiko searchbox" type="text" id="tags" placeholder="Search..." (input)="onSearchChange($event.target.value)"/>
                        <ul class="search_menu" *ngIf="searchUsers.length > 0">
                            <li *ngFor="let searchUser of searchUsers">{{searchUser.name}}</li>
                        </ul>
                    </div>
                </span> -->
                <div class="searchinput ui-widget">
                    <input class="form-control" type="text" placeholder="search" id="search_results" placeholder="Search..." (input)="onSearchChange($event.target.value)" (keydown.esc)="onKeyEsc($event)" (keydown.enter)="onKeyEnter($event.target.value)">
                    <div class="search_menu"  *ngIf="searchUsers.length > 0 || searchVideos.length > 0 || searchLiveTV.length > 0">
                       
                        <ul class="search-live-video" *ngIf="searchUsers.length > 0">
                            <h5 class="text-left">User <a routerLink="/users/search" [queryParams]="{q:key_term}"><span class="pull-right">see all</span></a></h5>
                            <li *ngFor="let searchUser of searchUsers">
                                <a routerLink="/view-profile" [queryParams]="{peer_id : searchUser.follower_id}">
                                    <div class="search-left">
                                        <img src="{{searchUser.picture}}" class="img-circle" alt="User Image">
                                    </div>
                                    <div class="search-right">
                                        <h4 style="margin: 0px">
                                            {{searchUser.name}}
                                            <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                                        </h4>
                                        <p style="font-size: 11px">{{searchUser.no_of_followers ? searchUser.no_of_followers : 0}} Followers</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        
                        <ul class="search-live-video" *ngIf="searchVideos.length > 0">
                            <h5 class="text-left">Live videos <a routerLink="/live-videos/search" [queryParams]="{q:key_term}"><span class="pull-right">see all</span></a></h5>
                            <li *ngFor="let video of searchVideos">
                                <a routerLink="/">
                                    <div class="search-left relative">
                                        <img src="{{video.snapshot}}" onError="this.src='../../../assets/img/bg-2.jpg'" class="search-live-video-img" alt="User Image">
                                        <div class="live-video-indication">
                                            <div class="rec-symbol"></div>
                                        </div>
                                    </div>
                                    <div class="search-right">
                                        <h4 style="margin: 9px 0 0 0">
                                            {{video.title}}
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        
                        <ul class="search-live-video" *ngIf="searchLiveTV.length > 0">
                            <h5 class="text-left">Live TV <a routerLink="/live-tv/search" [queryParams]="{q:key_term}"><span class="pull-right">see all</span></a></h5>
                            <li *ngFor="let live_tv of searchLiveTV">
                                <a routerLink="/">
                                    <div class="search-left">
                                        <img src="{{live_tv.image}}" onError="this.src='../../../assets/img/bg-2.jpg'" class="search-live-video-img" alt="User Image">
                                    </div>
                                    <div class="search-right">
                                        <h4 style="margin: 9px 0 0 0">
                                            {{live_tv.title}}
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right pt-0 pb-0">
                    <li class="dropdown" *ngIf="userId">
                        <a class="slidebar-icon pt-19 relative" href="" data-toggle="dropdown" (click)="notificationStatusChange()">
                            <img src="../../../assets/img/bell.png" class="menu-icon bell-noti-icon">
                            <span class="badge notification-badge" *ngIf="notification_count > 0">{{notification_count}}</span>
                        </a>
                        <div class="bell-noti dropdown-menu">
                                <div class="bell-noti-height">
                                    <ul class="p-0 m-0 notification-sec header-noti">
                                        <li *ngFor="let notification of notifications">
                                            <a routerLink="/join-video" [queryParams]="{video_id : notification.link_id}" *ngIf="notifications_types.LIVE_STREAM_STARTED == notification.type">
                                                <div class="display-inline pt-10 pb-10">
                                                    <div class="noti-img-sec relative">
                                                        <img src="{{notification.picture}}" alt="live_video_img">
                                                        <div class="live-video-indication">
                                                            <div class="rec-symbol"></div>
                                                        </div>
                                                    </div>
                                                    <div class="noti-text-sec">
                                                        <h4>{{notification.notification}}</h4>
                                                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                                                    </div>
                                                </div>
                                            </a>

                                            <a routerLink="/view-profile" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_FOLLOW == notification.type || notifications_types.USER_JOIN_VIDEO == notification.type">
                                                <div class="display-inline pt-10 pb-10">
                                                    <div class="noti-img-sec relative">
                                                        <img src="{{notification.picture}}" alt="live_video_img">
                                                       
                                                    </div>
                                                    <div class="noti-text-sec">
                                                        <h4>{{notification.notification}}</h4>
                                                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                                                    </div>
                                                </div>
                                            </a>

                                            <a routerLink="/view-group" [queryParams]="{id : notification.link_id}" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_GROUP_ADD == notification.type">
                                                <div class="display-inline pt-10 pb-10">
                                                    <div class="noti-img-sec relative">
                                                        <img src="{{notification.picture}}" alt="live_video_img">
                                                    </div>
                                                    <div class="noti-text-sec">
                                                        <h4>{{notification.notification}}</h4>
                                                        <p>{{notification.name}} @ {{notification.created_at}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li *ngIf="notifications.length <= 0">
                                            No notifications found
                                        </li>
                                    </ul>
                                    <div class="height-37"></div>
                                    <div class="noti-footer" *ngIf="notifications.length > 0">
                                        <a routerLink="/notifications">View more</a>
                                    </div>
                                </div>
                         </div>
                    </li>
                </ul>
            </div>
            <!-- /.NAVBAR COLLAPSE--> 
        </div> 
    </nav>
</header>
<!--HAEDER ENDS-->

<div class="top-spacing"></div>
