<!-- MAIN SECTION STARTS -->
<div class="left-spacing1">
    <div class=" sec-padding padd">
        <h2 class="about-head">{{page_view.title}}</h2>
        <p class="about-para" [innerHTML]="page_view.description"></p>
    </div>
</div>
<!-- MAIN SECTION ENDS -->