

<common-header></common-header>


<div class="main video-stream">

    <common-sidebar></common-sidebar>

    <router-outlet (deactivate)="onDeactivate()"></router-outlet>

</div>


<common-footer></common-footer>
